.body {
    display: flex;
    justify-content: center;
}

.register {
    width: 30%;
    background-color: cornsilk;
    padding: 10px 20px;
    border-radius: 10px;
    min-width: 320px;
    margin-top: 140px;
    border: 3px gold solid;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.register-form__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input {
    height: 32px;
    border: none;
    border-radius: 4px;
    padding-left: 8px;
}

.register-form__title {
    display: flex;
    justify-content: center;
}

.register-form__submit {
    height: 32px;
    border: none;
    border-radius: 4px;
    width: 120px;
    margin: 0 auto;
    background-color: gold;
}

.register-form__submit:hover {
    cursor: pointer;
    transition-delay: 0.2s;
    transform: scale(1.1);
}

.header {
    display: flex;
    flex-direction: row;
    background-color: cornsilk;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 120px;
    width: 100%;

}

.header-logo {
    height: 80px;
    width: 80px;
    border: 2px gold solid;
    margin-left: 20px;
    border-radius: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.nav {
    flex-direction: row;

}

.header-nav__list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 20px;
    border: gold solid;
    border-radius: 10px;
    padding-right: 40px;
}

.header-nav__list > li {
    list-style: none;
}
/* Селектор к елементу списка с классом active */
.header-nav__list > li.active {
    font-weight: bold;
}

/*TODO: Нужно поправить стили что бы nav находился четко над register (grid) */